@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;800&family=Roboto+Mono:ital,wght@0,400;1,200;1,700&display=swap');

/* Global */

* {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(to bottom right, #000000, rgb(104, 34, 109));
    background-position: center;
    background-size: auto;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    overflow: hidden;
    
  }

  /* Logo */

  .logo-shad {
  box-shadow: 15px 10px 5px rgba(30, 3, 47, 0.65);
  border-radius: 50%;
  }
  
  .logo {
      margin-top: 40%;
      color: rgb(217, 166, 72);
      text-align: center;
      cursor: default;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  /* Panels */
  
  .container {
      margin: 2%;
      display: flex;
      width: 70vw;
      justify-content: center;
      padding: 2%;
  }
  
  .panel {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 80vh;
      width: 10%;
      padding: 10px;
      border-radius: 50px;
      color: white;
      cursor: cell;
      margin: 10px;
      position: relative;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: thanks #fff;      
  }

  
  .panel .corner-logo {
      opacity: 0;
  } 

  .panel.active .corner-logo {  
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0;
    opacity: 0.7;
    transition: opacity 1.5s ease-in;
} 


.panel-invis {
  cursor: default;
}

  .panel button {
    opacity: 0;
}

  a {
    color: rgb(217, 166, 72);
    
  }

  article {
    display: none;
    
}
  
  .panel.active {
      width: 80%;
      margin: auto;
      transition: width 0.9s ease-in-out;
  }
  
  .panel.active button {
      background-color: rgba(176, 39, 114);
      border-radius: 5px;
      opacity: 1;
      height: 10vh;
      width: 20vh;
      font-size: 1.2rem;
      text-decoration: solid;
      transition: opacity 1.5s ease-in;
      color: rgb(217, 166, 72);
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      cursor: pointer;
  }

  button:hover {
    font-weight: bold;
    box-shadow: 5px 5px 5px rgb(217, 166, 72, 0.65);
  }

  .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

  .panel.active article {
    display: block;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 15px 10px 5px rgba(6, 3, 23, 0.65);
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
    z-index: 1;
    position: relative;
    border: none;
    background-color: rgba(176, 39, 114, 0.5);
    margin: auto;
    margin-top: 30%;
    width: 90%;
    padding: 10px;
    overflow-y: scroll;
    transition: opacity 0.7s ease-in;
    
  }

 .myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }


  .logo-shad {
    height: 30%;
    width: 30%;
  }


  /* responsive settings */

  @media(max-height: 900px)  {
    
      .container {
        width: auto;
        height: auto;
        justify-content: center;
        
    }

    .panel.active article {
      
      font-size: large;
      margin-top: 0%;
      width: 90%;
      padding: 10px;
      transition: opacity 0.7s ease-in;
      
    }
  

}
 
  
@media(max-width: 1024px) {

  .container {
    display: inline-block;
    margin-top: 0%;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }

  .panel {
    height: 120px;
    width: 120px;
    margin: 30px;
    justify-content: center;
    
  }

  .panel-none {
    display: none;
  }

  button {
    display: none;
  }

  .panel.active article {
    justify-content: center;
    display: inline-flexbox;
    font-size: large;
    z-index: 1;
    position: relative;
    margin-top: 40%;
    margin-left: 5%;
    
  }

  .corner-logo{
    display: none;
  }

  .corner-logo-2 {
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0;
  }
}